.header{
  
height: auto;
display: flex;
flex: 1;
align-items: center;
background-color:#000000 ;
position: sticky;
top: 0;
z-index: 100;

}
@media only screen and (max-width: 800px) {
    .header{
  
        height: auto;
        width: 100%;
        display: flex;
        flex: 1;
        align-items: center;
        background-color:#000000 ;
      
        top: 0;
     
  }
 
}
@media only screen and (max-width: 500px) {
    .header__nav{
     
        flex-direction: column;
    }
  }

.language__container{
    display: flex;
    flex: 0.24;
    object-fit:contain;
    justify-content: flex-end;
    }
.flag-select__option{
    padding-left:0px !important;
    
}
.language__icon{
 margin-top:5px;

 color: white;
 
}
.img__container{
    display: flex;
    flex: 0.50;
    object-fit: contain;
    justify-content: center;
    
}
.ribana__image{
    margin-right: 30px;
    height: 80px;
    width: 80px;
}
.header__nav{
    display: flex;

    flex:0.25 ;
}
.header__option{
    color: white;
}